<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>controller.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studiorequest</servlet-name>
        <servlet-class>controller.studiorequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRequestById</servlet-name>
        <servlet-class>controller.ShowRequestById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOwner</servlet-name>
        <servlet-class>controller.AddOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultipartTest</servlet-name>
        <servlet-class>controller.MultipartTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studiorequest</servlet-name>
        <url-pattern>/studiorequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRequestById</servlet-name>
        <url-pattern>/ShowRequestById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOwner</servlet-name>
        <url-pattern>/AddOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultipartTest</servlet-name>
        <url-pattern>/MultipartTest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
